@import "reset.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

body {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;

    &::-webkit-scrollbar {
        display: none;
    }
}
.wrapper {
    width: 100%;
    height: auto;

    .header {
        background-color: rgba(0, 0, 0, 0.801218);
        height: 65px;
        padding: 0 13px;
        width: 100%;
        position: fixed;
        z-index: 1000;
        top: 0;
        display: flex;
        align-items: center;

        .toggle-btn {
            padding: 0;
            border: 0;
            width: 35px;
            background-color: transparent;
            font-size: 2em;
            color: #ffffff;
            align-items: center;
            justify-content: center;
            display: inline-flex;

            &:hover {
                color: #ed0a1d;
            }

            @media screen and (min-width: 992px) {
                display: none;
            }
        }

        .logo-link {
            padding-left: 37px;

            @media screen and (min-width: 992px) {
                padding-left: 68px;
             }

            .logo-img {
                width: 8.12em;
            }
        }

        .nav {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            height: 100vh;
            width: 100%;
            max-width: 218px;
            background-color: #000000;
            flex-direction: column;

            &.open {
                display: inline-flex;
            }

            .nav-link {
                padding: 24px 0 0 13px;
                text-decoration: none;
                font-size: 1em;
                line-height: 35px;
                cursor: pointer;

                &:hover {
                    font-weight: bold;
                }
            }

            @media screen and (min-width: 992px) {
                display: inline-flex;
                flex-direction: row;
                position: unset;
                height: auto;
                max-width: 100%;
                background-color: transparent;
                padding-left: 87px;

                .nav-link {
                    padding: 0 27px 0 0;
                    font-size: 1.125em;
                    line-height: 29px;
                }
            }

        }
    }

    .content {
        padding-left: 13px;
        
        @media screen and (min-width: 992px) {
            padding-left: 81px;
        }
    }
    
    .content-titles {
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;

        @media screen and (min-width: 992px) {
            font-size: 28px;
            line-height: 38px;
        }
    }

    .hero-wrapper {
        @media screen and (min-width: 992px) {
            height: 844px;
        }

        height: 344px;
        background-image: url(../assets/breakingbad.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        .hero-content {
            padding-top: 153px;

            .logo-serie {
                display: none;

                @media screen and (min-width: 992px) {
                    display: block;
                    height: 345px;
                }
            }

            @media screen and (min-width: 992px) {
                padding-top: 55px;
                width: 100%;
                max-width: 70%;
            }

            .subs-wrapper {
                @media screen and (min-width: 992px) {
                    padding-top: 40px;
                    width: 100%;
                    max-width: 70%;

                    .dsk-subtitles {
                        font-size: 24px;
                        line-height: 33px;
                        padding-bottom: 10px;
                        font-weight: normal;
                    }
                }
            }
            
            .main-title {
                font-size: 1.5em;
                font-weight: bold;
                line-height: 33px;
                letter-spacing: 0.5px;
                
                @media screen and (min-width: 992px) {
                    display: none;
                }
            }
            
            .subtitle {
                font-size: 1em;
                line-height: 22px;
                font-weight: 400;
                padding: 10px 0;
                
                .dsk-subtitle {
                    display: none;
                    color: #009c04;
                    font-weight: 700;
                    margin-right: 10px;
                    font-size: 18px;
                    
                }
                @media screen and (min-width: 992px) {
                    margin-top: -40px;
                    

                    .dsk-subtitle {
                        display: inline-block;
                    }

                    .sub {
                        font-size: 18px;
                    }
                }
                .sub {
                    margin-right: 10px;
                    
                    &.age {
                        border: solid 1px;
                        border-radius: 2px;
                        background-color: rgba(255, 255, 255, 0.123);
                        padding: 0 6px;
                        text-align: center;
                    }
                }
            }

            
            .dsk-titles {
                display: none;
                
                @media screen and (min-width: 992px) {
                    display: inline-block;
                }
                
            }
            
            .btn-wrapper {
                margin-top: 35px;

                .far {
                    display: none;

                    @media screen and (min-width: 992px) {
                        display: inline-block;
                        padding: 10px;
                        margin: 0 8px;
                        font-size: 30px;
                        border: solid 3px;
                        border-radius: 50px;
                        cursor: pointer;

                        &:hover {
                            background-color: rgba(145, 140, 140, 0.356);
                        }
                    }
                }
                
                .main-button {
                    padding: 14px 22px;
                    border-radius: 5px;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: bold;
                    text-decoration: none;

                    @media screen and (min-width: 992px) {
                        font-size: 21px;
                        line-height: 29px;
                    }
                    
                    &.play-btn {
                        color: #000000;
                        background-color: #ffffff;
                        margin-right: 4px;

                        .fa-play {
                            color: black;
                            padding-right: 8px;
                        }
                        
                        &:hover {
                            background-color: #d6d6d6;
                        }
                    }
                    
                    &.list-btn {
                        display: none;
                        background-color: rgba(157, 151, 151, 0.541521);

                        &:hover {
                            background-color: rgba(136, 132, 132, 0.542);
                        }

                        @media screen and (min-width: 992px) {
                            display: inline-block;
                            margin-right: 5px;
                        }

                    }
                }
            }
        }
        
    }
    
    .rectangle {
        height: 107px;
        width: 100%;
        background: linear-gradient(0deg, black 36%, rgba(0, 0, 0, 0) 100%);;
        margin-top: -70px;

        @media screen and (min-width: 992px) {
            height: 388px;
            margin-top: -300px;
        }
    }

    .series-wrapper {
        @media screen and (min-width: 992px) {
            margin: -50px 0 0 0;
            padding-bottom: 100px;
            // display: flex;
            // overflow-x: auto;
            // scroll-snap-type: x mandatory;
            // overflow-y: hidden;

            // &::-webkit-scrollbar {
            //     display: none;
            // }

            .season-title {
                display: inline-block;
            }

            .chapter-wrapper {
                // align-items: center;
                // flex-direction: column;
                // scroll-snap-align: start;
                // width: 100%;
                // max-width: 30%;
                transition: 0.3s ease all;
                padding: 40px 0;        
            }
        }

        .chapter-wrapper {
            display: flex;
            align-items: flex-start;;
            padding-right: 22px;
            line-height: 1.4em;
            padding-bottom: 30px;
            
            
            &:hover {
                .process-div{
                    .fa-play-circle{
                        color:rgba(255, 255, 255, 0.541) ;
                    }
                }
            }
            .process-div {
                
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 10px;
                position: relative;

                a {
                    display: flex;
                    justify-content: center;


                    .fa-play-circle {
                        position: absolute;
                        color: rgba(196, 196, 196, 0.5);
                        font-size: 40px;
                        font-weight: 100;
                        top: 25%;
                        cursor: pointer;
    
    
                        @media screen and (min-width: 992px) {
                            font-size: 100px;
                        }
    
                    }
                }


                .process-grey {
                    width: 100%;
                    max-width: 95%;
                    height: 3px;
                    margin-top: 10px;
                    background-color: #858585;

                    @media screen and (min-width: 992px) {
                        margin: 15px 0 -15px;
                    }
                    .process-red {
                        width: 60%;
                        height: 3px;
                        background-color: #C60F0E;
                    }
                }
            }

            .chapter-img {
                width: auto;
                height: 75px;
                cursor: pointer;

                @media screen and (min-width: 992px) {
                    height: 192px;
                    width: auto;
                }
            }
            

            
            .chapter-info {
                .chapter-title {
                    font-size: 16px;
                    font-weight: bold;
                    padding-bottom: 2px;
                }
                
                .chapter-desc {
                    font-size: 15px;
                }

                @media screen and (min-width: 992px) {
                    margin-top: 30px;                    
                    
                    .chapter-title {
                        font-size: 18px;
                    }
                    
                    .chapter-desc {
                        display: none;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}