* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  height: auto;
}
.wrapper .content {
  padding-left: 13px;
}
@media screen and (min-width: 992px) {
  .wrapper .content {
    padding-left: 81px;
  }
}
.wrapper .content-titles {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}
@media screen and (min-width: 992px) {
  .wrapper .content-titles {
    font-size: 28px;
    line-height: 38px;
  }
}
.wrapper .hero-wrapper {
  height: 344px;
  background-image: url(../assets/breakingbad.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper {
    height: 844px;
  }
  .wrapper .hero-wrapper .header .toggle-btn {
    display: none;
  }
  .wrapper .hero-wrapper .header .menu-mobile {
    display: none;
  }
}
.wrapper .hero-wrapper .header {
  height: 4.063em;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.801218);
}
.wrapper .hero-wrapper .header .toggle-btn {
  position: absolute;
  left: 13px;
  cursor: pointer;
}
.wrapper .hero-wrapper .header .toggle-btn.active {
  left: 13px;
}
.wrapper .hero-wrapper .header .toggle-btn .hamburger-icon {
  width: 35px;
  text-align: center;
  font-size: 30px;
}
.wrapper .hero-wrapper .header .menu-mobile {
  height: 100vh;
  width: 100%;
  max-width: 218px;
  background-color: black;
  position: fixed;
  top: 4.03em;
  left: -218px;
  transition: all 400ms;
}
.wrapper .hero-wrapper .header .menu-mobile.active {
  left: 0;
}
.wrapper .hero-wrapper .header .menu-mobile .menu-li {
  padding: 24px 0 0 13px;
  list-style: none;
}
.wrapper .hero-wrapper .header .menu-mobile .menu-li li {
  padding-bottom: 20px;
}
.wrapper .hero-wrapper .header .menu-mobile .menu-li li a {
  text-decoration: none;
  font-size: 1em;
  line-height: 35px;
  cursor: pointer;
}
.wrapper .hero-wrapper .header .menu-mobile .menu-li li a:hover {
  font-weight: bold;
}
.wrapper .hero-wrapper .header .header-content {
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper .hero-wrapper .header .header-content .logo-wrapper {
  height: 0;
  display: flex;
  align-items: center;
  padding-left: 68px;
}
.wrapper .hero-wrapper .header .header-content .logo-wrapper .logo-img {
  width: 8.12em;
  height: auto;
}
.wrapper .hero-wrapper .header .header-content .menu-desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .header .header-content .logo-wrapper {
    padding-left: 85px;
  }
  .wrapper .hero-wrapper .header .header-content .logo-wrapper .logo-img {
    width: 9.25em;
  }
  .wrapper .hero-wrapper .header .header-content .menu-desktop {
    display: flex;
    padding-left: 87px;
  }
  .wrapper .hero-wrapper .header .header-content .menu-desktop .nav-link {
    text-decoration: none;
    padding-right: 27px;
    font-size: 18px;
    line-height: 29px;
  }
}
.wrapper .hero-wrapper .hero-content {
  padding-top: 153px;
}
.wrapper .hero-wrapper .hero-content .logo-serie {
  display: none;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .logo-serie {
    display: block;
    height: 345px;
  }
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content {
    padding-top: 55px;
    width: 100%;
    max-width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .subs-wrapper {
    padding-top: 40px;
    width: 100%;
    max-width: 70%;
  }
  .wrapper .hero-wrapper .hero-content .subs-wrapper .dsk-subtitles {
    font-size: 24px;
    line-height: 33px;
    padding-bottom: 10px;
    font-weight: normal;
  }
}
.wrapper .hero-wrapper .hero-content .main-title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .main-title {
    display: none;
  }
}
.wrapper .hero-wrapper .hero-content .subtitle {
  font-size: 1em;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 0;
}
.wrapper .hero-wrapper .hero-content .subtitle .dsk-subtitle {
  display: none;
  color: #009c04;
  font-weight: 700;
  margin-right: 10px;
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .subtitle {
    margin-top: -40px;
  }
  .wrapper .hero-wrapper .hero-content .subtitle .dsk-subtitle {
    display: inline-block;
  }
  .wrapper .hero-wrapper .hero-content .subtitle .sub {
    font-size: 18px;
  }
}
.wrapper .hero-wrapper .hero-content .subtitle .sub {
  margin-right: 10px;
}
.wrapper .hero-wrapper .hero-content .subtitle .sub.age {
  border: solid 1px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.123);
  padding: 0 6px;
  text-align: center;
}
.wrapper .hero-wrapper .hero-content .dsk-titles {
  display: none;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .dsk-titles {
    display: inline-block;
  }
}
.wrapper .hero-wrapper .hero-content .btn-wrapper {
  margin-top: 35px;
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .far {
  display: none;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .btn-wrapper .far {
    display: inline-block;
    padding: 10px;
    margin: 0 8px;
    font-size: 30px;
    border: solid 3px;
    border-radius: 50px;
    cursor: pointer;
  }
  .wrapper .hero-wrapper .hero-content .btn-wrapper .far:hover {
    background-color: rgba(145, 140, 140, 0.356);
  }
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button {
  padding: 14px 22px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .btn-wrapper .main-button {
    font-size: 21px;
    line-height: 29px;
  }
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.play-btn {
  color: #000000;
  background-color: #ffffff;
  margin-right: 4px;
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.play-btn .fa-play {
  color: black;
  padding-right: 8px;
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.play-btn:hover {
  background-color: #d6d6d6;
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.list-btn {
  display: none;
  background-color: rgba(157, 151, 151, 0.541521);
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.list-btn:hover {
  background-color: rgba(136, 132, 132, 0.542);
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.list-btn {
    display: inline-block;
    margin-right: 5px;
  }
}
.wrapper .rectangle {
  height: 107px;
  width: 100%;
  background: linear-gradient(0deg, black 36%, rgba(0, 0, 0, 0) 100%);
  margin-top: -70px;
}
@media screen and (min-width: 992px) {
  .wrapper .rectangle {
    height: 388px;
    margin-top: -300px;
  }
}
@media screen and (min-width: 992px) {
  .wrapper .series-wrapper {
    margin: -50px 0 0 81px;
    padding-bottom: 100px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
  }
  .wrapper .series-wrapper::-webkit-scrollbar {
    display: none;
  }
  .wrapper .series-wrapper .season-title {
    display: inline-block;
  }
  .wrapper .series-wrapper .chapter-wrapper {
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    transition: 0.3s ease all;
    padding: 40px 0;
  }
  .wrapper .series-wrapper .chapter-wrapper:hover {
    transform: scale(1.2);
    transform-origin: center;
  }
}
.wrapper .series-wrapper .chapter-wrapper {
  display: flex;
  align-items: flex-start;
  padding-right: 22px;
  line-height: 1.4em;
  padding-bottom: 30px;
}
.wrapper .series-wrapper .chapter-wrapper:hover .process-div .fa-play-circle {
  color: rgba(211, 54, 54, 0.5);
}
.wrapper .series-wrapper .chapter-wrapper .process-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  position: relative;
}
.wrapper .series-wrapper .chapter-wrapper .process-div .fa-play-circle {
  position: absolute;
  color: rgba(255, 255, 255, 0.541);
  font-size: 40px;
  font-weight: 100;
  top: 25%;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .wrapper .series-wrapper .chapter-wrapper .process-div .fa-play-circle {
    font-size: 100px;
  }
}
.wrapper .series-wrapper .chapter-wrapper .process-div .process-grey {
  width: 100%;
  max-width: 95%;
  height: 3px;
  margin-top: 10px;
  background-color: #858585;
}
@media screen and (min-width: 992px) {
  .wrapper .series-wrapper .chapter-wrapper .process-div .process-grey {
    margin: 15px 0 -15px;
  }
}
.wrapper .series-wrapper .chapter-wrapper .process-div .process-grey .process-red {
  width: 60%;
  height: 3px;
  background-color: #C60F0E;
}
.wrapper .series-wrapper .chapter-wrapper .chapter-img {
  width: auto;
  height: 75px;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .wrapper .series-wrapper .chapter-wrapper .chapter-img {
    height: 192px;
    width: auto;
  }
}
.wrapper .series-wrapper .chapter-wrapper .chapter-info .chapter-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
}
.wrapper .series-wrapper .chapter-wrapper .chapter-info .chapter-desc {
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  .wrapper .series-wrapper .chapter-wrapper .chapter-info {
    margin-top: 30px;
  }
  .wrapper .series-wrapper .chapter-wrapper .chapter-info .chapter-title {
    font-size: 18px;
  }
  .wrapper .series-wrapper .chapter-wrapper .chapter-info .chapter-desc {
    font-size: 17px;
  }
}

/*# sourceMappingURL=style-selection.css.map */
