@import "reset.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  background-color: #3d3d3d;
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  height: auto;
}
.wrapper .content {
  padding-left: 13px;
}
@media screen and (min-width: 992px) {
  .wrapper .content {
    padding-left: 81px;
  }
}
.wrapper .content-titles {
  font-size: 1.125em;
  font-weight: bold;
  line-height: 25px;
}
@media screen and (min-width: 992px) {
  .wrapper .content-titles {
    font-size: 1.75em;
    line-height: 38px;
  }
}
.wrapper .hero-wrapper {
  height: 344px;
  background-image: url(../assets/bettercall-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper {
    height: 844px;
  }
  .wrapper .hero-wrapper .header .toggle-btn {
    display: none;
  }
  .wrapper .hero-wrapper .header .menu-mobile {
    display: none;
  }
}
.wrapper .hero-wrapper .header {
  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.801218);
}
.wrapper .hero-wrapper .header .toggle-btn {
  position: absolute;
  left: 13px;
  cursor: pointer;
}
.wrapper .hero-wrapper .header .toggle-btn.active {
  left: 13px;
}
.wrapper .hero-wrapper .header .toggle-btn .hamburger-icon {
  width: 35px;
  text-align: center;
  font-size: 30px;
}
.wrapper .hero-wrapper .header .menu-mobile {
  height: 100vh;
  width: 100%;
  max-width: 218px;
  background-color: black;
  position: fixed;
  top: 64px;
  left: -218px;
  transition: all 400ms;
}
.wrapper .hero-wrapper .header .menu-mobile.active {
  left: 0;
}
.wrapper .hero-wrapper .header .menu-mobile .menu-li {
  padding: 24px 0 0 13px;
  list-style: none;
}
.wrapper .hero-wrapper .header .menu-mobile .menu-li li {
  padding-bottom: 20px;
}
.wrapper .hero-wrapper .header .menu-mobile .menu-li li a {
  text-decoration: none;
  font-size: 1em;
  line-height: 35px;
  cursor: pointer;
}
.wrapper .hero-wrapper .header .menu-mobile .menu-li li a:hover {
  font-weight: bold;
}
.wrapper .hero-wrapper .header .header-content {
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper .hero-wrapper .header .header-content .logo-wrapper {
  height: 0;
  display: flex;
  align-items: center;
  padding-left: 68px;
}
.wrapper .hero-wrapper .header .header-content .logo-wrapper .logo-img {
  width: 8.12em;
  height: auto;
}
.wrapper .hero-wrapper .header .header-content .menu-desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .header .header-content .logo-wrapper {
    padding-left: 85px;
  }
  .wrapper .hero-wrapper .header .header-content .logo-wrapper .logo-img {
    width: 9.25em;
  }
  .wrapper .hero-wrapper .header .header-content .menu-desktop {
    display: flex;
    padding-left: 87px;
  }
  .wrapper .hero-wrapper .header .header-content .menu-desktop .nav-link {
    text-decoration: none;
    padding-right: 27px;
    font-size: 1.125em;
    line-height: 29px;
  }
}
.wrapper .hero-wrapper .hero-content {
  padding-top: 153px;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content {
    padding-top: 142px;
    width: 100%;
    max-width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .subs-wrapper {
    padding-top: 40px;
    width: 100%;
    max-width: 70%;
  }
  .wrapper .hero-wrapper .hero-content .subs-wrapper .dsk-subtitles {
    font-size: 1.5em;
    line-height: 33px;
    padding-bottom: 10px;
    font-weight: normal;
  }
}
.wrapper .hero-wrapper .hero-content .main-title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .main-title {
    font-size: 7.5em;
    line-height: 100px;
    padding-top: 18px;
  }
}
.wrapper .hero-wrapper .hero-content .subtitle {
  font-size: 1em;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 0;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .subtitle {
    display: none;
  }
}
.wrapper .hero-wrapper .hero-content .subtitle .sub {
  margin-right: 10px;
}
.wrapper .hero-wrapper .hero-content .subtitle .sub.age {
  border: solid 1px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.123);
  padding: 0 6px;
  text-align: center;
}
.wrapper .hero-wrapper .hero-content .dsk-titles {
  display: none;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .dsk-titles {
    display: inline-block;
  }
}
.wrapper .hero-wrapper .hero-content .btn-wrapper {
  margin-top: 35px;
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button {
  padding: 14px 22px;
  border-radius: 5px;
  font-size: 1em;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .wrapper .hero-wrapper .hero-content .btn-wrapper .main-button {
    font-size: 21px;
    line-height: 29px;
  }
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.play-btn {
  background-color: #ed0a1d;
  margin-right: 4px;
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.play-btn .fa-play {
  color: #ffffff;
  padding-right: 8px;
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.play-btn:hover {
  background-color: #d6091a;
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.list-btn {
  background-color: rgba(157, 151, 151, 0.541521);
}
.wrapper .hero-wrapper .hero-content .btn-wrapper .main-button.list-btn:hover {
  background-color: rgba(136, 132, 132, 0.542);
}
.wrapper .rectangle {
  height: 107px;
  width: 100%;
  background: linear-gradient(0deg, black 36%, rgba(0, 0, 0, 0) 100%);
  margin-top: -72px;
}
@media screen and (min-width: 992px) {
  .wrapper .rectangle {
    margin-top: -200px;
  }
}
.wrapper .series-wrapper {
  background-color: #000000;
  margin-top: -30px;
}
@media screen and (min-width: 992px) {
  .wrapper .series-wrapper {
    margin-top: 0;
  }
}
.wrapper .series-wrapper .carousel-wrapper .series-title {
  padding: 25px 0 15px;
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div {
  text-align: center;
  margin-right: 13px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.3s ease all;
}
@media screen and (min-width: 992px) {
  .wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div {
    padding-bottom: 40px;
  }
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div .serie-link .serie-img {
  height: 124px;
  width: auto;
}
@media screen and (min-width: 992px) {
  .wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div .serie-link .serie-img {
    height: 192px;
  }
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div.process-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div.process-div .process-grey {
  width: 100%;
  max-width: 95%;
  height: 3px;
  margin-top: 10px;
  background-color: #858585;
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div.process-div .process-grey .process-red {
  height: 3px;
  background-color: #C60F0E;
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div.process-div .process-grey .process-red.red-1 {
  width: 60%;
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div.process-div .process-grey .process-red.red-2 {
  width: 10%;
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div.process-div .process-grey .process-red.red-3 {
  width: 50%;
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div.process-div .process-grey .process-red.red-4 {
  width: 70%;
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div.process-div .process-grey .process-red.red-5 {
  width: 30%;
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div.process-div .process-grey .process-red.red-6 {
  width: 80%;
}
.wrapper .series-wrapper .carousel-wrapper .carousel-series .serie-div.process-div .process-grey .process-red.red-7 {
  width: 20%;
}

/*# sourceMappingURL=style.css.map */
