* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #3d3d3d;
    font-family: 'Open Sans', sans-serif;

    &::-webkit-scrollbar {
        display: none;
    }
}
.wrapper {
    width: 100%;
    height: auto;

    .content {
        padding-left: 13px;
        
        @media screen and (min-width: 992px) {
            padding-left: 81px;
        }
    }
    
    .content-titles {
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;

        @media screen and (min-width: 992px) {
            font-size: 28px;
            line-height: 38px;
        }
    }

    .hero-wrapper {
        @media screen and (min-width: 992px) {
            height: 844px;

            .header {
                .toggle-btn {
                    display: none;
                }
    
                .menu-mobile {
                    display: none;
                }
            }
        }

        height: 344px;
        background-image: url(../assets/bettercall-hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        .header {
            height: 4.063em;
            width: 100%;
            position: fixed;
            z-index: 1000;
            top: 0;
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.801218);
    
            .toggle-btn {
                position: absolute;
                left: 13px;
                cursor: pointer;

                &.active {
                    left: 13px;
                }

                .hamburger-icon {
                    width: 35px;
                    text-align: center;
                    font-size: 30px;
                }

            }

            .menu-mobile {            
                height: 100vh;
                width: 100%;
                max-width: 218px;
                background-color: black;
                position: fixed;
                top: 4.03em;
                left: -218px;
                transition: all 400ms;

                &.active {
                    left: 0;
                }
    
    
                .menu-li {
                    padding: 24px 0 0 13px;
                    list-style: none;

                    
                    li {
                        padding-bottom: 20px;
                        
                        a {
                            text-decoration: none;
                            font-size: 1em;
                            line-height: 35px;
                            cursor: pointer;
                            
                            &:hover {
                                font-weight: bold;
                            }
                        }    
                    }
                }
            }
            
            .header-content {
                width: 100%;
                display: flex;
                align-items: center;
                
                .logo-wrapper {
                    height: 0;
                    display: flex;
                    align-items: center;
                    padding-left: 68px;
                    
                    .logo-img {
                        width: 8.12em;
                        height: auto;
                    }
                }
                
                .menu-desktop {
                    display: none;

                }
            }

            @media screen and (min-width: 992px) {
                .header-content {
                    
                    .logo-wrapper {
                        padding-left: 85px;
                        
                        .logo-img {
                            width: 9.25em;
                        }
                    }

                    .menu-desktop {
                        display: flex;
                        padding-left: 87px;

                        .nav-link {
                            text-decoration: none;
                            padding-right: 27px;
                            font-size: 18px;
                            line-height: 29px;

                        }
                    }
                }
            }
        }
        
        .hero-content {
            padding-top: 153px;

            @media screen and (min-width: 992px) {
                padding-top: 207px;
                width: 100%;
                max-width: 70%;
            }

            .subs-wrapper {
                @media screen and (min-width: 992px) {
                    padding-top: 40px;
                    width: 100%;
                    max-width: 70%;

                    .dsk-subtitles {
                        font-size: 24px;
                        line-height: 33px;
                        padding-bottom: 10px;
                        font-weight: normal;
                    }
                }
            }
            
            .main-title {
                font-size: 1.5em;
                font-weight: bold;
                line-height: 33px;
                letter-spacing: 0.5px;
                
                @media screen and (min-width: 992px) {
                    font-size: 120px;
                    line-height: 100px;
                    padding-top: 18px;
                }
            }
            
            .subtitle {
                @media screen and (min-width: 992px) {
                    display: none;
                }

                font-size: 1em;
                line-height: 22px;
                font-weight: 400;
                padding: 10px 0;
                
                .sub {
                    margin-right: 10px;
                    
                    &.age {
                        border: solid 1px;
                        border-radius: 2px;
                        background-color: rgba(255, 255, 255, 0.123);
                        padding: 0 6px;
                        text-align: center;
                    }
                }
            }
            
            .dsk-titles {
                display: none;
                
                @media screen and (min-width: 992px) {
                    display: inline-block;
                }
                
            }
            
            .btn-wrapper {
                margin-top: 35px;
                
                .main-button {
                    padding: 14px 22px;
                    border-radius: 5px;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: bold;
                    text-decoration: none;

                    @media screen and (min-width: 992px) {
                        font-size: 21px;
                        line-height: 29px;
                    }
                    
                    &.play-btn {
                        background-color: #ed0a1d;
                        margin-right: 4px;
                        
                        .fa-play {
                            color: #ffffff;
                            padding-right: 8px;
                        }
                        
                        &:hover {
                            background-color: #d6091a;
                        }
                    }
                    
                    &.list-btn {
                        background-color: rgba(157, 151, 151, 0.541521);

                        &:hover {
                            background-color: rgba(136, 132, 132, 0.542);
                        }
                    }
                }
            }
        }
        
    }
    
    .rectangle {
        height: 107px;
        width: 100%;
        background: linear-gradient(0deg, black 36%, rgba(0, 0, 0, 0) 100%);;
        margin-top: -72px;

        @media screen and (min-width: 992px) {
            margin-top: -160px;
        }
    }
    
    .series-wrapper {
        background-color: #000000;
        margin-top: -30px;

        @media screen and (min-width: 992px) {
            margin-top: 0;
        }
        
        .carousel-wrapper {

            &:last-child {
                margin-bottom: 35px;
            }
            
            .series-title {
                padding: 25px 0 15px;
            }

            .carousel-series {
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                overflow-y: hidden;
                
                &::-webkit-scrollbar {
                    display: none;
                }
                
                .serie-div {
                    scroll-snap-align: start;
                    text-align: center;
                    margin-right: 13px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    transition: 0.3s ease all;

                    @media screen and (min-width: 992px) {
                        padding-bottom: 40px;
                    }

                    &:hover {
                        transform: scale(1.2);
                        transform-origin: center;
                    }
                    
                    .serie-link {
                        
                        .serie-img {
                            height: 124px;
                            width: auto;

                            @media screen and (min-width: 992px) {
                                height: 192px;
                            }
                        }
                    }
                    
                    &.process-div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .process-grey {
                            width: 100%;
                            max-width: 95%;
                            height: 3px;
                            margin-top: 10px;
                            background-color: #858585;

                            .process-red {
                                height: 3px;
                                background-color: #C60F0E;

                                &.red-1 {
                                    width: 60%;
                                }

                                &.red-2 {
                                    width: 10%;
                                }

                                &.red-3 {
                                    width: 50%;
                                }

                                &.red-4 {
                                    width: 70%;
                                }

                                &.red-5 {
                                    width: 30%;
                                }

                                &.red-6 {
                                    width: 80%;
                                }

                                &.red-7 {
                                    width: 20%;
                                }
                            }
                        }
                    }

                }
            }
        }

    }
}